html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #b59e74;
  font-family: helvetica, "LiHei Pro", "Heiti TC", "Microsoft JhengHei";
}

#container,
.menu {
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#container {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}
#container.show-menu {
  margin-left: 240px;
}

.menu {
  width: 240px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -240px;
  background-color: #b59e74;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.menu.show-menu {
  left: 0px;
}
.menu a {
  text-decoration: none;
  color: #222;
}
.menu h3 {
  display: inline-block;
  position: relative;
  color: #222;
  font-size: 18px;
  vertical-align: top;
}
.menu h3:active {
  background-color: rgba(140, 90, 5, 0.3);
}
.menu h3:after {
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 25px 375px;
  background-position: 0 -250px;
  width: 25px;
  height: 25px;
  content: "";
  position: absolute;
  top: 7px;
  right: 15px;
}
.menu .menu-set {
  width: 300%;
  position: relative;
  overflow: hidden;
  font-size: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu .back,
.menu .cate-title {
  line-height: 50px;
  text-align: center;
  border-bottom: 1px #a07d3d solid;
}
.menu .back h3:after,
.menu .cate-title h3:after {
  background-position: 0 -275px;
  left: -25px;
  top: 13px;
}
.menu .cate-title {
  font-weight: bold;
  text-align: left;
}
.menu .cate-title h3 {
  text-indent: 70px;
}
.menu .cate-title h3:after {
  display: none;
}
.menu .menu-list {
  line-height: 45px;
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
}
.menu .menu-list li {
  border-bottom: 1px #a99063 solid;
}
.menu .menu-list li a {
  width: 100%;
  display: block;
}
.menu .menu-list li h3 {
  width: 100%;
  text-indent: 70px;
}
.menu .menu-list li.inner-menu {
  background-color: #a99063;
  border-bottom: 0px #a99063 solid;
}

#header {
  height: 60px;
  width: 100%;
  background-color: #8b5c06;
  position: fixed;
  overflow: hidden;
  z-index: 10;
}
#header .logo {
  width: 78px;
  height: 60px;
  position: relative;
  margin: auto;
}
#header .logo a {
  display: block;
  width: 78px;
  height: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/logo-hola.png");
  background-repeat: no-repeat;
}
#header ul {
  position: absolute;
  top: 15px;
  height: 40px;
}
#header ul.menu-left {
  left: 0px;
}
#header ul.menu-right {
  right: 0px;
}
#header ul li {
  width: 35px;
  height: 35px;
  margin: 2px 0px;
  display: inline-block;
  position: relative;
  background-size: 70px 175px;
  vertical-align: middle;
  background-image: url("../img/icon-header.svg");
  background-repeat: no-repeat;
}
#header ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
#header ul li.header-menu {
  background-position: 0 0;
}
#header ul li.header-menu.show-menu {
  background-position: -35px 0;
}
#header ul li.header-search {
  background-position: 0 -35px;
}
#header ul li.header-search.show-search {
  background-position: -35px -35px;
}
#header ul li.header-login {
  background-position: 0 -70px;
}
#header ul li.header-order {
  background-position: 0 -105px;
}
#header ul li.header-order.acted {
  background-position: -35px -105px;
}
#header ul li.header-cart {
  background-position: 0 -140px;
}
#header ul li.header-cart.acted {
  background-position: -35px -140px;
}
#header ul li.cart-items {
  width: 20px;
  height: 20px;
  background-color: #b72600;
  font-size: 11px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-image: none;
  margin: 0 2px 0 -12px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#header.show-search {
  height: 110px;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
#header.show-search .search {
  height: 50px;
  text-align: center;
}
#header.show-search .search input {
  position: relative;
  width: 90%;
  margin: 6px auto;
  background-color: #fff;
  border: 0;
  height: 25px;
  padding: 5px;
  font-size: 16px;
  color: #555;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#header.show-search .search input:focus {
  outline: none;
}

.sub-nav {
  padding-top: 60px;
  height: 50px;
  border-bottom: 1px #d7d7d7 solid;
  font-size: 0;
}
.sub-nav.show-search {
  padding-top: 100px;
  -moz-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}
.sub-nav li {
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 50px;
  position: relative;
}
.sub-nav li a {
  text-decoration: none;
  color: #000;
  display: block;
  height: 50px;
  width: 100%;
}
.sub-nav li.acted {
  background-color: #ece7de;
}
.sub-nav li h2 {
  font-size: 13px;
  line-height: 25px;
  top: 12px;
  padding-left: 17px;
  position: relative;
}
.sub-nav li h2:before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  margin-left: -25px;
  background-size: 25px 375px;
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
}
.sub-nav li h2.nav-news:before {
  background-position: 2px 0;
}
.sub-nav li h2.nav-coupon:before {
  background-position: 2px -25px;
}
.sub-nav li h2.nav-store:before {
  background-position: 2px -50px;
}
.sub-nav li h2.nav-dm:before {
  background-position: 2px -75px;
}

#content .highlight {
  position: relative;
  margin-bottom: 30px;
}
#content .highlight a,
#content .highlight img {
  width: 100%;
}
#content .highlight ul {
  width: 100%;
  font-size: 0;
  position: relative;
}
#content .highlight ul li {
  display: inline-block;
}
#content .highlight ul li.highlight-main {
  width: 100%;
}
#content .highlight ul li.highlight-sub01, #content .highlight ul li.highlight-sub02 {
  width: 48%;
}
#content .highlight ul li.highlight-sub01 {
  margin: 10px 0 0 0;
}
#content .highlight ul li.highlight-sub02 {
  margin: 10px 0 0 4%;
}
#content .highlight-main {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#content .highlight-main img {
  width: 100%;
}
#content .highlight-main .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-flex;
  display: flex;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}
#content .highlight-main .swiper-wrapper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
#content .highlight-main .swiper-pagination {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 90%;
  z-index: 5;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#content .highlight-main .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#content .highlight-main .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fcc80d;
}
#content .daily-select {
  width: 100%;
  position: relative;
}
#content .daily-select a,
#content .daily-select img {
  width: 100%;
  display: block;
  text-decoration: none;
}
#content .daily-select .daily-info {
  height: 40px;
  line-height: 40px;
  background-color: #ece7de;
  position: relative;
}
#content .daily-select .daily-info span {
  color: #b72600;
  font-size: 10px;
  line-height: 15px;
  border: 1px #b72600 solid;
  display: inline-block;
  margin: 0 2px 0 5px;
  padding: 2px 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .daily-select .daily-info h2 {
  display: inline-block;
  font-size: 12px;
  color: #000;
}
#content .daily-select .daily-info .price {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b72600;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 0 8px;
}
#content .promote {
  width: 95%;
  position: relative;
  margin: 0 auto 20px;
  text-align: center;
}
#content .promote h2 {
  font-size: 15px;
  line-height: 40px;
  margin-top: 10px;
  font-weight: bold;
}
#content .promote ul {
  position: relative;
  font-size: 0;
}
#content .promote ul li {
  display: inline-block;
  width: 48%;
  position: relative;
}
#content .promote ul li a,
#content .promote ul li img {
  width: 100%;
}
#content .promote ul li:nth-of-type(odd) {
  margin: 0 0 10px 0;
}
#content .promote ul li:nth-of-type(even) {
  margin: 0 0 10px 4%;
}
#content .promote .hot-list {
  margin-top: 20px;
}
#content .promote .hot-list li {
  width: 50%;
  border: 1px #fff solid;
  box-sizing: border-box;
}
#content .promote .hot-list li:nth-of-type(odd), #content .promote .hot-list li:nth-of-type(even) {
  margin: 0;
}
#content .promote .hot-list li:after {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 7px;
  right: 5px;
  content: "";
  background-size: 30px 450px;
  background-position: 0 -300px;
  opacity: 0.3;
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
}
#content .promote .hot-list li a {
  display: block;
  text-decoration: none;
  background-color: #efefef;
  font-size: 15px;
  line-height: 45px;
  color: #555;
}
#content .breadcrumb {
  background-color: #ece7de;
  border-bottom: 1px #e2dfdb solid;
  line-height: 40px;
  font-size: 12px;
  color: #8b5c06;
  padding: 0 10px;
}
#content .breadcrumb a {
  color: #8b5c06;
}
#content .filter {
  height: 52px;
  position: relative;
}
#content .filter .list-type,
#content .filter .store-loc,
#content .filter .store-coupon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 0;
}
#content .filter .list-type li,
#content .filter .store-loc li,
#content .filter .store-coupon li {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px #d7d7d7 solid;
  background-color: #fff;
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 30px 450px;
}
#content .filter .list-type li.selected:after,
#content .filter .store-loc li.selected:after,
#content .filter .store-coupon li.selected:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #ccc;
  opacity: 0.6;
}
#content .filter .list-type li.list-pix,
#content .filter .store-loc li.list-pix,
#content .filter .store-coupon li.list-pix {
  background-position: 0 -390px;
}
#content .filter .list-type li.list-pt,
#content .filter .store-loc li.list-pt,
#content .filter .store-coupon li.list-pt {
  background-position: 0 -420px;
}
#content .filter .list-type li:nth-of-type(2),
#content .filter .store-loc li:nth-of-type(2),
#content .filter .store-coupon li:nth-of-type(2) {
  margin-left: -1px;
}
#content .filter .store-loc,
#content .filter .store-coupon {
  width: 95%;
  position: relative;
  margin: auto;
  left: 0;
  text-align: center;
}
#content .filter .store-loc li,
#content .filter .store-coupon li {
  width: 24%;
  font-size: 12px;
  line-height: 30px;
  background-image: none;
  margin-left: -1px;
}
#content .filter .store-loc li a,
#content .filter .store-coupon li a {
  text-decoration: none;
  color: #000;
}
#content .filter select {
  position: absolute;
  right: 10px;
  top: 10px;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
}
#content .list-cont {
  width: 95%;
  position: relative;
  margin: 0 auto 20px;
  font-size: 0;
}
#content .list-cont .list-box a {
  text-decoration: none;
}
#content .list-cont .list-box a .price {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #b72600;
}
#content .list-cont .list-box a .price del {
  color: #363636;
  margin-right: 3px;
}
#content .list-cont .list-box a h2 {
  font-weight: bold;
  color: #8b5c06;
}
#content .list-cont .list-box .item-info {
  position: relative;
}
#content .list-cont .list-box .buy-btn {
  display: block;
  font-size: 15px;
  color: #fff;
  line-height: 35px;
  text-align: center;
  width: 80px;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #b72600;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .list-cont.pix .list-box {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
#content .list-cont.pix .list-box a,
#content .list-cont.pix .list-box img {
  width: 100%;
  display: block;
}
#content .list-cont.pix .list-box:nth-of-type(odd) {
  margin: 0 0 10px 0;
}
#content .list-cont.pix .list-box:nth-of-type(even) {
  margin: 0 0 10px 4%;
}
#content .list-cont.pix .list-box h2 {
  font-size: 13px;
  line-height: 20px;
  min-height: 80px;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#content .list-cont.pt .list-box, #content .list-cont.store .list-box, #content .list-cont.dm .list-box, #content .list-cont.cart .list-box {
  width: 100%;
  display: block;
  font-size: 0;
  margin-bottom: 15px;
}
#content .list-cont.pt .list-box img, #content .list-cont.store .list-box img, #content .list-cont.dm .list-box img, #content .list-cont.cart .list-box img {
  width: 45%;
  display: inline-block;
}
#content .list-cont.pt .list-box .item-info, #content .list-cont.store .list-box .item-info, #content .list-cont.dm .list-box .item-info, #content .list-cont.cart .list-box .item-info {
  width: 53%;
  margin-left: 2%;
  display: inline-block;
  vertical-align: top;
}
#content .list-cont.pt .list-box .price, #content .list-cont.store .list-box .price, #content .list-cont.dm .list-box .price, #content .list-cont.cart .list-box .price {
  position: absolute;
  bottom: 0;
}
#content .list-cont.pt .list-box .date, #content .list-cont.store .list-box .date, #content .list-cont.dm .list-box .date, #content .list-cont.cart .list-box .date {
  font-size: 10px;
  color: #555;
  margin-top: 5px;
}
#content .list-cont.pt .list-box h2, #content .list-cont.store .list-box h2, #content .list-cont.dm .list-box h2, #content .list-cont.cart .list-box h2 {
  font-size: 16px;
  line-height: 23px;
  min-height: 92px;
  height: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#content .list-cont.store .list-box h2 {
  padding-top: 15px;
  height: 23px;
  min-height: 23px;
}
#content .list-cont.store .list-box .address {
  font-size: 10px;
  color: #555;
  margin-top: 5px;
}
#content .list-cont.dm .list-box {
  margin-top: 10px;
}
#content .list-cont.dm .list-box img {
  width: 35%;
}
#content .list-cont.dm .list-box .item-info {
  width: 60%;
}
#content .list-cont.dm .list-box h2 {
  padding-top: 15px;
  height: 23px;
  min-height: 23px;
}
#content .list-cont.dm .list-box .date {
  margin-bottom: 10px;
}
#content .list-cont.dm .list-box .dm-info {
  font-size: 13px;
  line-height: 21px;
  color: #000;
}
#content .list-cont.cart {
  width: 100%;
}
#content .list-cont.cart .list-box img {
  width: 30%;
}
#content .list-cont.cart .list-box .item-info {
  width: 65%;
}
#content .list-cont.cart .list-box h2 {
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  min-height: 20px;
}
#content .list-cont.cart .list-box .amount {
  font-size: 14px;
  line-height: 22px;
  margin-top: 5px;
  color: #555;
}
#content .list-cont.cart a.del {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 12px;
  line-height: 22px;
  padding: 2px 6px;
  background-color: #999;
  text-decoration: none;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
#content .list-cont.news .list-box, #content .list-cont.coupon .list-box {
  width: 90%;
  margin: 10px auto 20px;
  display: block;
}
#content .list-cont.news .list-box h2, #content .list-cont.coupon .list-box h2 {
  font-size: 18px;
  line-height: 24px;
}
#content .list-cont.coupon .list-box h2 {
  padding-right: 90px;
}
#content .list-cont .load-more {
  color: #b72600;
  width: 90%;
  margin: auto;
  font-size: 15px;
  line-height: 35px;
  border: 1px #b72600 solid;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .photo-slide {
  width: 100%;
  position: relative;
}
#content .photo-slide img {
  width: 100%;
}
#content .product-info {
  width: 80%;
  position: relative;
  margin: auto;
}
#content .product-info h1 {
  font-size: 18px;
  line-height: 25px;
  color: #8b5c06;
  font-weight: bold;
  padding: 10px 0;
}
#content .product-info.rule h1 {
  color: #b72600;
}
#content .product-info.rule .content {
  font-size: 12px;
  line-height: 19px;
  padding-bottom: 20px;
  color: #555;
}
#content .product-info.rule .ruleItem {
  font-size: 16px;
  line-height: 25px;
  padding: 15px 0 5px;
  color: #b72600;
}
#content .product-info.rule strong {
  display: block;
  font-size: 15px;
  line-height: 30px;
  margin-top: 10px;
  color: #000;
}
#content .product-info .description {
  color: #555;
  font-size: 14px;
  line-height: 22px;
}
#content .product-info .description .store-info li {
  background-image: url("../img/icon-sub.svg");
  background-repeat: no-repeat;
  background-size: 30px 450px;
  line-height: 30px;
  padding-left: 30px;
}
#content .product-info .description .store-info li.address {
  background-position: 0 -120px;
}
#content .product-info .description .store-info li.phone {
  background-position: 0 -150px;
}
#content .product-info .description .store-info li.hours {
  background-position: 0 -180px;
}
#content .product-info.cart h1 {
  font-size: 24px;
  line-height: 50px;
  font-weight: normal;
  color: #000;
}
#content .product-info.warning h1 {
  color: #b72600;
  font-size: 28px;
  line-height: 45px;
}
#content .product-info.warning .description {
  color: #b72600;
}
#content .product-info.warning .description a {
  color: #b72600;
}
#content .product-info.warning .description b {
  font-weight: bold;
}
#content .product-info hr {
  height: 1px;
  border: 0;
  border-top: 1px #d3d3d3 solid;
  display: block;
}
#content .product-info .fee-info,
#content .product-info .countinue {
  font-size: 14px;
  line-height: 22px;
  margin: 10px 0;
  padding: 3px 5px;
  background-color: #ece7de;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .fee-info a,
#content .product-info .countinue a {
  color: #b72600;
  text-decoration: none;
}
#content .product-info .countinue {
  float: right;
}
#content .product-info .price h2,
#content .product-info .contact h2 {
  text-align: right;
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}
#content .product-info .price h2 span,
#content .product-info .contact h2 span {
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  margin: 0 5px;
  padding: 2px 6px;
  vertical-align: middle;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .price .contact-input,
#content .product-info .contact .contact-input {
  text-align: left;
  display: inline-block;
  font-size: 25px;
  line-height: 40px;
  width: 65%;
  vertical-align: top;
}
#content .product-info .price .contact-input .notice,
#content .product-info .contact .contact-input .notice {
  font-size: 10px;
  line-height: 13px;
  display: block;
  clear: both;
  color: #555;
}
#content .product-info .price .contact-input input,
#content .product-info .contact .contact-input input {
  height: 20px;
  width: 100%;
  font-size: 15px;
}
#content .product-info .price .contact-input label,
#content .product-info .contact .contact-input label {
  font-size: 13px;
  line-height: 20px;
  font-weight: normal;
  display: inline;
}
#content .product-info .price .contact-input label input,
#content .product-info .contact .contact-input label input {
  width: 20px;
  vertical-align: middle;
}
#content .product-info .price .contact-input.card,
#content .product-info .contact .contact-input.card {
  font-size: 12px;
  display: block;
  width: 100%;
}
#content .product-info .price .fee-range,
#content .product-info .contact .fee-range {
  float: left;
  font-size: 19px;
  font-weight: bold;
  line-height: 45px;
  color: #8b5c06;
}
#content .product-info .price .price-title,
#content .product-info .price .contact-label,
#content .product-info .contact .price-title,
#content .product-info .contact .contact-label {
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: 45px;
  color: #555;
}
#content .product-info .price .contact-label,
#content .product-info .contact .contact-label {
  float: none;
  display: inline-block;
  width: 30%;
  text-align: right;
}
#content .product-info .price .contact-label.card,
#content .product-info .contact .contact-label.card {
  line-height: 22px;
  display: block;
  width: 100%;
  text-align: left;
}
#content .product-info .price .buy-btn a,
#content .product-info .contact .buy-btn a {
  display: block;
  font-size: 18px;
  color: #fff;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#content .product-info .price.web h2,
#content .product-info .contact.web h2 {
  color: #b72600;
}
#content .product-info .price.web h2 span,
#content .product-info .contact.web h2 span {
  color: #b72600;
  border: 1px #b72600 solid;
}
#content .product-info .price.web .buy-btn a,
#content .product-info .contact.web .buy-btn a {
  background-color: #b72600;
}
#content .product-info .price.web .buy-btn.prv a,
#content .product-info .contact.web .buy-btn.prv a {
  background-color: #999;
}
#content .product-info .price.store h2,
#content .product-info .contact.store h2 {
  color: #4258ab;
}
#content .product-info .price.store h2 span,
#content .product-info .contact.store h2 span {
  color: #4258ab;
  border: 1px #4258ab solid;
}
#content .product-info .price.store .buy-btn a,
#content .product-info .contact.store .buy-btn a {
  background-color: #4258ab;
}
#content .product-info .detail {
  margin-bottom: 20px;
}
#content .product-info .detail h3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 15px;
  clear: both;
}
#content .product-info .detail select {
  padding: 5px;
  font-size: 15px;
  margin: 5px 5px 5px 0;
}
#content .product-info .detail table {
  margin: 15px auto;
  font-size: 15px;
  line-height: 50px;
  color: #555;
}
#content .product-info .detail table tr {
  border-bottom: 1px #ccc solid;
}
#content .product-info .detail p,
#content .product-info .detail li {
  color: #555;
  font-size: 14px;
  line-height: 22px;
}
#content .product-info .detail li {
  width: 48%;
  display: inline-block;
}
#content .product-info .detail .notice {
  font-size: 10px;
  line-height: 14px;
  color: #777;
}
#content .product-info .detail .notice a {
  color: #555;
}
#content .product-info .detail .invoice {
  font-size: 13px;
  line-height: 25px;
}
#content .product-info .detail .invoice input[type="text"] {
  width: 90%;
  height: 20px;
  font-size: 15px;
  margin: 5px;
}
#content .product-info .detail .list-cont {
  width: 100%;
}
#content .product-info .detail .list-cont h2 {
  font-size: 15px;
  line-height: 21px;
  min-height: 84px;
  height: 84px;
}
#content .product-info .detail .recommend {
  width: 100%;
  position: relative;
}
#content .product-info .detail .recommend img {
  width: 100%;
}
#content .product-info .detail .recommend .point {
  width: 85px;
  height: 72px;
  padding-top: 13px;
  position: absolute;
  top: -40px;
  right: -15px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  background-color: #b72600;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#content .product-info .detail .recommend .point b {
  font-size: 25px;
  font-weight: bold;
  padding: 0 3px;
}
#content .product-info .dm-cover {
  position: relative;
  width: 100%;
  margin: 15px auto;
  display: block;
}
#content .product-info .dm-cover img {
  width: 100%;
}

.gotop {
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #eb6f63;
  background-size: 40px 160px;
  background-image: url("../img/icon-footer.svg");
  background-repeat: no-repeat;
  -moz-transition: ease-in 0.2s;
  -o-transition: ease-in 0.2s;
  -webkit-transition: ease-in 0.2s;
  transition: ease-in 0.2s;
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  z-index: 10;
}
.gotop.show {
  opacity: 1;
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

#footer {
  background-color: #394166;
  color: #fff;
}
#footer .link {
  text-align: center;
  margin: 5px 0;
}
#footer .link li {
  display: inline-block;
  width: 50px;
  height: 50px;
}
#footer .link li a {
  width: 50px;
  height: 50px;
  display: block;
  background-size: 50px 200px;
  background-image: url("../img/icon-footer.svg");
  background-repeat: no-repeat;
}
#footer .link li.desktop a {
  background-position: 0 -50px;
}
#footer .link li.mobile a {
  background-position: 0 -100px;
}
#footer .link li.facebook a {
  background-position: 0 -150px;
}
#footer p {
  padding: 0 10% 10px;
  font-size: 11px;
  line-height: 15px;
}
#footer p span {
  font-size: 9px;
  display: block;
}
